.vscode/
hexus_lang.egg-info/top_level.txt
.gitignore
hexus_lang.egg-info/PKG-INFO
.gitignore
hexus_lang.egg-info/SOURCES.txt
hexus_lang.egg-info/entry_points.txt
hexus_lang.egg-info/dependency_links.txt
Hexus/modules/__pycache__/time.cpython-314.pyc
.gitignore
Hexus/modules/__pycache__/__init__.cpython-314.pyc
Hexus/modules/__pycache__/file.cpython-314.pyc
Hexus/__pycache__/parser.cpython-314.pyc
Hexus/__pycache__/lexer.cpython-314.pyc
.gitignore
Hexus/__pycache__/cli.cpython-314.pyc
Hexus/__pycache__/interpreter.cpython-314.pyc
example.he
data.txt
